@model WebUI.Models.CartIndexViewModel
@{
    ViewBag.Title = "Sports Store: Your Cart";
}
<style>
    #cartTable td {
        vertical-align: middle;
    }
</style>

<h2>Your Cart</h2>

<div id="cartContainer">
    


</div>

<div class="text-center">
    <a class="btn btn-primary" href="@Model.ReturnUrl">Continue Shopping</a>
    @Html.ActionLink("Checkout Now", "Checkout", null, new { @class = "btn btn-primary" })
</div>

<script>
    
    $(document).ready(function () {
        loadCartPartial();
        if ($("#cartContainer").length > 0) {
            loadCartPartial();
            updateCartDisplay(@Model.Cart.GetTotalCount());
        }
    })
</script>


